# Используем только pnpm
package-manager-strict=true
auto-install-peers=true

# Настройки для pnpm
shamefully-hoist=false
store-dir=~/.pnpm-store

# Игнорируем built dependencies которые указаны в pnpm-workspace.yaml
