---
// Navigation component
---

<nav class="navbar" data-scroll-section>
    <div class="nav-container">
        <div class="nav-logo">
            <img src="/assets/img/logo_main.png" alt="Super Mock Logo" class="logo-image">
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#home" class="nav-link" data-i18n="nav.home">Главная</a>
            </li>
            <li class="nav-item">
                <a href="#features" class="nav-link" data-i18n="nav.features">Возможности</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link" data-i18n="nav.about">О проекте</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link" data-i18n="nav.contact">Контакты</a>
            </li>
            <li class="nav-item">
                <a href="https://app.supermock.ru" target="_blank" class="nav-link nav-btn" data-i18n="nav.login">Войти</a>
            </li>
        </ul>
        <div class="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!-- Language Switcher will be inserted here -->
        <div id="language-switcher-container"></div>
    </div>
</nav>
